{{ define "nav"  }}
{{ end }}
{{ define "main"  }}
{{- $thema := "" }}
{{- $bezeichnung := "" }}
{{- $titel := "" -}}
{{- $rdf_link := "https://musterdatenkatalog.de/def/musterdatensatz.rdf" -}}
{{- $version := .Page.Params.version -}}
{{- $v1 := (le $version 20220301) }}
<div class="">
	<h1>Liste der Musterdatensätze</h1>
	<div>{{.Content}}</div>
</div>
<div class="w-full mt-8 h-screen overflow-auto">
  <p>Anderes Format: <a href="{{- if $v1 -}}{{- absURL "def/musterdatensatz.rdf" -}}{{- else -}}https://huggingface.co/datasets/and-effect/MDK_taxonomy/raw/main/2023-05-17_musterdatenkatalog.rdf{{- end -}}">RDF</a>
<div class="versions">
	<form>
		<select name="version" onchange="window.location='{{- absURL "def" -}}/'+this.options[this.selectedIndex].value+'/musterdatensatz.html';">
			<option value="" >20230420</option>
			<option value="20220303" {{ if $v1 }}selected{{- end -}}>20220303</option>
	</select>
	</form>
</div>
<table class="w-full divide-y divide-gray-200 mt-8 border-collapse">
	<thead class="bg-gray-50 sticky top-0">
		<tr>
			{{- if $v1 -}}
				{{ partial "partials/v1/table-header.html" }}
			{{- else -}}
				{{ partial "partials/table-header.html" }}
			{{- end -}}
		</tr>
	</thead>
	<tbody>
		{{- $filename := ( printf "/static/%d.csv" $version) -}}
		{{- $dataC := getCSV "," $filename  -}}
		{{- $uri := "" -}}
		{{- range after 1 $dataC -}}
		{{- $uri = ( printf "https://musterdatenkatalog.de/def/musterdatensatz/%s/%s" (index . 1) (index . 2) ) -}}
		{{- $titel = (index . 0) -}}
		{{- $thema = (index . 1) -}}
		{{- $bezeichnung = (index . 2) -}}
		<tr class="odd:bg-white even:bg-slate-100">
			{{- if $v1 -}}
				{{ partial "partials/v1/table-body.html" . }}
			{{- else -}}
				{{ partial "partials/table-body.html" . }}
			{{- end -}}
		</tr>
		{{- end  -}}
	</tbody>
</table>
</div>
{{ end }}
