<th class="sticky top-0 px-6 py-3 text-left text-xl font-bold text-gray-600 uppercase tracking-wider">Thema</th>
<th class="sticky top-0 px-6 py-3 text-left text-xl font-bold text-gray-600 uppercase tracking-wider">Bezeichung</th>
<th class="sticky top-0 px-6 py-3 text-left text-xl font-bold text-gray-600 uppercase tracking-wider">URI</th>
<th class="sticky top-0 px-6 py-3 text-left text-xl font-bold text-gray-600 uppercase tracking-wider">Beschreibung</th>
<th class="sticky top-0 px-6 py-3 text-left text-xl font-bold text-gray-600 uppercase tracking-wider">Topic</th>
<th class="sticky top-0 px-6 py-3 text-left text-xl font-bold text-gray-600 uppercase tracking-wider">Label</th>
